{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1 class="col-md-12 text-center py-5">Derniers posts ajoutés</h1>
	
	<hr>
<div class="container d-flex flex-column justify-content-center align-items-center pt-5">
{% if app.user %}
<a href="{{ path('app_post_new')}}" class="btn btn-outline-dark p-3" >Nouvelle publication + </a>
{% endif %}

{% for post in posts %}
<div class="card mb-3 col-md-6 my-5 shadow-lg mb-5 bg-body rounded-3">
  <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="card-img-top" alt="{{ post.imageName }}" >
  <div class="card-body p-5 bckcolprim ">
<h5 class="card-title fw-bold bckcolslightt">{{ post.getUserId().getUsername() }}</h5>
    <p class="card-text fs-5">{{ post.description }}</p>

    <p class="card-text"><small class="text-muted">Publié le {{ post.createdAt ? post.createdAt|date('Y-m-d H:i') : '' }}</small></p>
	<a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-dark" >Voir le post</a>
                        {% if post.getUserId().id  == app.user.id %}
						<a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-outline-dark ml-2">Modifier</a>
                        {% endif %}
	<hr class="mt-4">
	<h4 >Poster un commentaire :</h4>
	{% if app.user %}
			<form method="POST" action={{path('app_comment_new')}}>
				<textarea name="comment" class="form-control my-2"></textarea>
				<input hidden name="postId" value={{post.id}} />
				<button class="btn btn-dark">{{ button_label|default('Publier') }}</button>
			</form>
	{% endif %}
			<hr class="mt-4">

			{% for comment in comments %}
                    {% if comment.getPostId().id == post.id  %} 
					<figure>
						<blockquote class="blockquote">
							<p class="fs-6">{{ comment.comment }}</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							De : {{ comment.getUserId().getUsername()  }} <cite title="Source Title"> le {{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i') : '' }}</cite>
						</figcaption>
					</figure>
					{# 
							<p>{{ comment.id }}</p>
                            <p> {{post.id }}</p>
							
							 <p class="fst-italic">{{ comment.comment }}
							 <p class="fw-light">{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i') : '' }}</p></p>
							<p>
								<a href="{{ path('app_comment_delete', {'id': comment.id}) }}">Retirer</a>
							</p>
							 #}
						</tr>
                    {% endif %}
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
  			</div>
		
			
		</div>


{% endfor %}
</div>
{% endblock %}
	
{# 
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Image</th>
				<th>Description</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{ post.id }}</td>
					<td><img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.imageName }}" height="300" width="300"></td>
					<td>{{ post.description }}</td>
					<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                        {% if post.getUserId().id  == app.user.id %}
						<a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                        {% endif %}
					</td>
                    <td>
                    <h1>Create new Comment</h1>
                    <form method="POST" action={{path('app_comment_new')}}>
                        <textarea name="comment"></textarea>
                        <input hidden name="postId" value={{post.id}} />
                        <button class="btn">{{ button_label|default('Save') }}</button>
                    </form>
                     </td>
				</tr>
                				
				<tbody>
					{% for comment in comments %}
                    {% if comment.getPostId().id == post.id  %} 
                        <tr>
							<td>{{ comment.id }}</td>
                            <td>{{ comment.comment }}</td>
                            <td> {{ comment.getPostId() }}</td>
                            <td> {{post.id }}</td>
							<td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
								<a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
							</td>
						</tr>
                    {% endif %}
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>


			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_post_new') }}">Create new</a>
{% endblock %}

 #}